.product__payment
  include product__payment__quantityBox
  .product__payment__cashFlow
    .product__payment__cashFlow__label 付款方式
    .product__payment__cashFlow__actionSet.js-cashFlow-action
      -for(var i = 0; i<obj.payments.length; i++)
        if i!=obj.payments.length-1
          .prodcut__payment__cashFlow__actionSet__btn=obj.payments[i].tradingWay
        else
          .prodcut__payment__cashFlow__actionSet__btn.last=obj.payments[i].tradingWay
  .product__payment__logistics
    .product__payment__logistics__label 收件方式
    .product__payment__logistics__actionSet.js-logistics-action
      -for(var i = 0; i<obj.shippings.length; i++)
        if i!=obj.shippings.length-1
          .prodcut__payment__logistics__actionSet__btn(data-fee=obj.shippings[i])=obj.shippings[i].shippingWay
        else
          .prodcut__payment__logistics__actionSet__btn(data-fee=obj.shippings[i]).last=obj.shippings[i].shippingWay
  .product__payment__summary__confirmBtn.js-payment-confirmBtn 計算價錢
  .product__payment__summary.js-payment-summary
    .product__payment__summary__wrap
      .product__payment__summary__wrap__logistics
        .product__payment__summary__wrap__logistics__label 運送費用：
        .product__payment__summary__wrap__logistics__price.js-product-cost 0
      .product__payment__summary__wrap__product
        .product__payment__summary__wrap__product__label 商品費用：
        .product__payment__summary__wrap__product__price.js-product-cost=price
      .product__payment__summary__wrap__total
        .product__payment__summary__wrap__total__label 總計費用：
        .product__payment__summary__wrap__total__price.js-product-cost=price
  include recipientInfo




